html,body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 12px;
	color: #666666;
	background-color: #ffffff;
}

.hidden {
	display: none;
}

#page-container {
	width: 760px;
	margin: auto;
}

#main-nav {
	background-color: red;
	height: 50px;
}

#header {
	height: 150px;
}

#social {
	text-align: center;
	font-family: 'Shadows Into Light Two', sans-serif;
	background-color: #A94949;
	padding: 20px;
}

h1 {
	margin: 0;
	padding: 0;
}

#sidebar {
	float: right;
	width: 280px;
	line-height: 18px;
}

#sidebar .padding {
	padding: 25px;
}

#content {
	margin-right: 280px;
	line-height: 18px;
}

#content .padding {
	padding: 25px;
}

#content h2 {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#content p {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}


#footer {
	height: 66px;
	clear: both;
}

.red:hover {
	color: red;
}