html,body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', Helvetica, Sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #AAD7EE;
}

.hidden {
	display: none;
}

a:link {
	color: yellow;
}
a:hover {
	color: black;
}

a:visited {
	color: gray;
}

a:active {
	color: black;
}

#page-container {
	width: 760px;
	margin: auto;
}

#main-nav {
	background-color: red;
	height: 50px;
}

#header {
	height: 150px;
}

#social {
	text-align: center;
	background-color: yellow;
	padding: 20px;
	border-radius: 2px;
}

#tagline {
	font-family: 'Shadows Into Light Two', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

#name {
	font-family: 'Shadows Into Light Two', sans-serif;
	font-weight: bold;
	font-size: 36px;
}

h1 {
	margin: 0;
	padding: 0;
}

#sidebar {
	float: right;
	width: 200px;
	line-height: 18px;
	border: 4px solid black;
	margin-top: 15px;
}

#sidebar .padding {
	padding: 25px;
}

#sidebar p {
	text-align: center;
}

#favorite_movies a{
	color: yellow;
	text-decoration: none;
}

#content {
	margin-right: 280px;
	line-height: 18px;
	text-align: center;
}

#content .padding {
	padding: 25px;
}

#content h2 {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#content p {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}


#footer {
	height: 66px;
	clear: both;
	text-align: center;
}

#altnav a {
	text-decoration: none;
	color: yellow;
}