body {
	font-family: 'Helvetica Neue', Sans-serif;
	font-size: 16px;
	color: #000000;
	margin: 0px;
}

#page-container {
	width: 100%;
	height: auto;
	margin: auto;
/*	padding-top: 600px;*/

}

/* header styling */

header {
/*	position: fixed*/;
	top: 0px;
	width: 100%;
	height: 500px;
	z-index: 10000;
	background-image: url(../img/header_image.jpg);
	background-size: cover;
	background-position: 30px 30px 50% 50%;
	box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
}


/* nav bar styling */

.nav-bar {
	float: right;
	text-align: center;
}

.nav-bar ul {
	height: auto;
	margin: auto;
	padding: 20px 30px 0px 0px;

}

.nav-bar li {
	display: inline-block;
	padding: 10px;
}

.nav-bar a {
	text-decoration: none;
	color: rgba(0,0,0,0.7);
	text-transform: uppercase;
	font-size: 14px;
}

.nav-bar a:hover {
	color: #69696B;
}

/*--------------------*/

.name {
	font-size: 90px;
	text-align: center;
	text-transform: uppercase;
	clear: both;
	padding-top: 35px;
	color: #f567ac;
	font-weight: lighter;
	letter-spacing: 0.05em;
	margin-bottom: 20px;
}

.little-c {
	text-transform: lowercase;
}

.tagline {
	text-align: center;
	line-height: 1;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	font-size: 18px;
	color: rgba(0,0,0,0.7);
}

.logo {
	float: left;
}

.logo-img {
	height: 60px;
	width: 60px;
	margin-left: 10px;
	margin-top: 10px;
}



/* About me */











/* Footer */
footer {
	width: 100%;
	height: 150px;
/*	z-index: 10000;*/
	background-image: url(../img/header_image.jpg);
	background-size: cover;
	background-position: 50% 45%;
	box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
	clear: all;
}

.logo {
	margin: 20px 20px;
}

footer .nav-bar-footer {
	float: left;
	margin-top: 50px;
	

}

.copyright {
	float: left;
}















