html, body {
	height: 100%;
}


body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #000000;
	margin: 0;
}

#page-container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

/* header styling */

header {
	top: 0px;
	width: 100%;
	height: 500px;
	z-index: 10000;
	background-image: url(../img/header_image.jpg);
	background-size: cover;
	background-position: 30px 30px 50% 50%;
	box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
}


/* nav bar styling */

.nav-bar {
	float: right;
	text-align: center;
}

.nav-bar ul {
	height: auto;
	margin: auto;
	padding: 20px 30px 0px 0px;
}

.nav-bar li {
	display: inline-block;
	padding: 10px;
}

.nav-bar a {
	text-decoration: none;
	color: rgba(0,0,0,0.7);
	text-transform: uppercase;
	font-size: 14px;
}

.nav-bar a:hover {
	color: #69696B;
}

/*--------------------*/

.name {
	font-size: 90px;
	text-align: center;
	text-transform: uppercase;
	clear: both;
	padding-top: 35px;
	color: #f567ac;
	font-weight: lighter;
	letter-spacing: 0.05em;
	margin-bottom: 20px;
}

.little-c {
	text-transform: lowercase;
}

.tagline {
	text-align: center;
	line-height: 1;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	font-size: 18px;
	color: rgba(0,0,0,0.7);
}

.logo {
	float: left;
}

.logo-img {
	height: 60px;
	width: 60px;
	margin-left: 20px;
	margin-top: 20px;
}



/* About me */

h3 {
	color: #f567ac;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: lighter;
	font-size: 30px;
}

.avatar-lockup {
	max-width: 783px;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: space-around;
	margin: 0 auto;
}

.avatar {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background: url(../img/nat-avatar.jpg);
	background-size: cover;
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	box-ordinal-group: 2;
	-webkit-flex-order: 2;
	-moz-order: 2;
	order: 2;
	-ms-flex-order: 2;
}

.pen {
	height: 100px;
	width: 100px;
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;
	-webkit-flex-order: 1;
	-moz-order: 1;
	order: 1;
	-ms-flex-order: 1;
	background-color: #d3c1ab;
	border-radius: 50%;
}

.screen {
	height: 100px;
	width: 100px;
	-webkit-box-ordinal-group: 3;
	-moz-box-ordinal-group: 3;
	box-ordinal-group: 3;
	-webkit-flex-order: 3;
	-moz-order: 3;
	order: 3;
	-ms-flex-order: 3;
	background-color: #d3c1ab;
	border-radius: 50%;
}

.blurb {
	max-width: 650px;
	padding: 0 15px;
	margin: 50px auto;
	font-size: 24px;
	letter-spacing: 0.08em;
	font-weight: 300;
	text-align: center;
}

/* Skills section */

#skill {
	background-color: #d3c1ab; 
}

.skill-wrapper {
	max-width: 700px;
	margin: 100px auto;
	overflow: auto;
}

.skill-unit {
	width: 350px;
	float: left;
}

.skill-icons {
	font-size: 0;
	margin: 2px 0 50px;
}

.skill-icons span {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: #f567ac;
	margin-right: 8px;
	border-radius: 50%;
}

.skill-icons span::after {
	content: " ";
	display: block;
	height: 16px;
	width: 16px;
	background: #ffffff;
	border-radius: 50%;
	margin: 2px;
}

.skill-wrapper .skill-icons.skill-1 span:nth-child(n+2), 
.skill-wrapper .skill-icons.skill-2 span:nth-child(n+3), 
.skill-wrapper .skill-icons.skill-3 span:nth-child(n+4), 
.skill-wrapper .skill-icons.skill-4 span:nth-child(n+5), 
.skill-wrapper .skill-icons.skill-5 span:nth-child(n+6), 
.skill-wrapper .skill-icons.skill-6 span:nth-child(n+7), 
.skill-wrapper .skill-icons.skill-7 span:nth-child(n+8), 
.skill-wrapper .skill-icons.skill-8 span:nth-child(n+9), 
.skill-wrapper .skill-icons.skill-9 span:nth-child(n+10), 
.skill-wrapper .skill-icons.skill-10 span:nth-child(n+11) {
  background: #e5eaee; }


@media (max-width: 700px) {
  .skill-wrapper {
    width: 350px;
  }
}


/* Projects section */

.thumbnail-container {
	max-width: 960px;
	margin: 0px auto;
	padding-bottom: 150px;
	overflow: auto;
}

.thumbnail-unit-1 {
	display: block;
	width: 25%;
	height: 200px;
	float: left;
	position: relative;
	background-image: url(../img/alex_site.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-decoration: none;
}

.thumbnail-unit-2 {
	display: block;
	width: 25%;
	height: 200px;
	float: left;
	position: relative;
	background-image: url(../img/books.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-decoration: none;
}

.thumbnail-unit-3 {
	display: block;
	width: 25%;
	height: 200px;
	float: left;
	position: relative;
	background-image: url(../img/sparkler.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-decoration: none;
}

.thumbnail-unit-4 {
	display: block;
	width: 25%;
	height: 200px;
	float: left;
	position: relative;
	background-image: url(../img/camera.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-decoration: none;
}

@media (max-width: 645px) {
  .thumbnail-unit-1,
  .thumbnail-unit-2,
  .thumbnail-unit-3,
  .thumbnail-unit-4 {
    width: 50%;
  }
}

.thumbnail-overlay {
	width: 100%;
	height: 150px;
	text-align: center;
	-webkit-transition-property: width, height;
  transition-property: width, height;
  transition-duration: 0.5s;
}

.thumbnail-overlay:hover {
	width: 100%;
	height: 200px;
	background-color: rgba(215,100,131,0.7);
}

.thumbnail-overlay strong {
	padding: 30px;
	text-transform: uppercase;
	display: block;
	color: white;
	font-size: 24px;
	font-weight: lighter;
}

/* ----------------------- */



/* Contact section */

#contact {
	padding-bottom: 100px;
}

.social-links {
	max-width: 700px;
	margin: 0px auto 50px;
	display: -webkit-flex;
/*	-webkit-align-items: center;*/
	-webkit-justify-content: space-around;
}

.social-links a {
	display: block;
	background-color: #d3c1ab;
	height: 75px;
	width: 75px;
	text-align: center;
	line-height: 75px;
	color:#f567ac;
	border-radius: 50%;
	font-size: 32px;
	text-decoration: none;
}

.social-links a:hover {
	transform:scale(1.2);
}

.bar {
	width: 350px;
	height: 0px;
	border: 2px solid #69696B;
	margin: 0px auto 50px;
}

.email-link {
	display: block;
	text-align: center;
	font-size: 64px;
	text-decoration: none;
	color: #f567ac;
	font-weight: lighter;
}







/* Footer */

footer , .push {
	height: 4em;
}

footer {
	width: 100%;
	height: 150px;
	background-image: url(../img/header_image.jpg);
	background-size: cover;
	background-position: 50% 45%;
	box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
}

.logo-footer {
	float: left;
	margin: 20px 20px;
	margin-bottom: -1em;
}

footer .nav-bar-footer a {
	float: left;
	margin-top: 40px;
	display: inline-block;
	text-decoration: none;
	color: rgba(0,0,0,0.7);
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px;
}

footer .nav-bar-footer a:hover {
	color: #69696B;
}

.copyright {
	clear: both;
	padding-left: 12em;
	font-size: 10px;
	text-transform: uppercase;
	color: rgba(0,0,0,0.7);
}















