body {
	font-family: 'Helvetica Neue', Sans-serif;
	font-size: 16px;
	color: #000000;
	margin: 0px;
}

#page-container {
	width: 100%;
	height: auto;
	margin: auto;

}

/* header styling */

header {
	position: fixed;
	width: 100%;
	height: 50%;
	border: 1px solid #ccc;
	background: lightgray;
}


.header-img {

}


/* nav bar styling */

.nav-bar {
	float: right;
/*	padding: 30px 30px 0px 0px;*/
	text-align: center;
}

.nav-bar ul {
	height: auto;
	margin: auto;
	padding: 20px 30px 0px 0px;

}

.nav-bar li {
	display: inline-block;
	padding: 10px;
}

.nav-bar a {
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
	font-size: 12px;
}

.nav-bar a:hover {
	color: #69696B;
}

/*--------------------*/

.name {
	font-size: 70px;
	text-align: center;
	text-transform: uppercase;
	clear: both;
	padding-top: 75px;
	color: #f567ac;
	font-weight: lighter;
	letter-spacing: 0.05em;
}

.little-c {
	text-transform: lowercase;
}

.tagline {
	text-align: center;
	line-height: 1;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}











